.containerAddress {
    margin: 107px auto;
}
.containerAddress input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.containerAddress label {
    display: block;
}
.containerAddress button {
    display: block;
    width: 9%;
    margin: 14px auto;
    background-color: dimgray;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .7s ;
}

.containerAddress button:hover {
    background-color: darkgrey;
    color: black;
}