
.containerLogin {
    margin: 246px auto;
    /* height: 189px; */
    border: 1px solid black;
    width: 50%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login label {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.login label > input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login button {
  width: 80%;
  background-color: dimgray;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
