.divForm {
    width: 100%;
}

.divForm button {
    margin: 0px 10px;
    width: 5%;
    background: gray;
    color: black;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    height: 30px;
    transition: .5s;
}

.divForm button:hover  {
    background-color: lightblue;
}